<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotsharp.video.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.hotsharp.common.domain.Video">
            <id property="vid" column="vid" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="auth" column="auth" jdbcType="TINYINT"/>
            <result property="duration" column="duration" jdbcType="DOUBLE"/>
            <result property="mcId" column="mc_id" jdbcType="VARCHAR"/>
            <result property="scId" column="sc_id" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
            <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="uploadDate" column="upload_date" jdbcType="TIMESTAMP"/>
            <result property="deleteDate" column="delete_date" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
