<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tube.mapper.UserVideoMapper">

    <resultMap id="BaseResultMap" type="UserVideo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="vid" column="vid" jdbcType="INTEGER"/>
            <result property="play" column="play" jdbcType="INTEGER"/>
            <result property="love" column="love" jdbcType="TINYINT"/>
            <result property="unlove" column="unlove" jdbcType="TINYINT"/>
            <result property="coin" column="coin" jdbcType="TINYINT"/>
            <result property="collect" column="collect" jdbcType="TINYINT"/>
            <result property="playTime" column="play_time" jdbcType="TIMESTAMP"/>
            <result property="loveTime" column="love_time" jdbcType="TIMESTAMP"/>
            <result property="coinTime" column="coin_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
